@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* nav style */
nav {
    display:flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    font-size: 30px;
}

nav ul {
    position: absolute;
    top: 60px;
    right: 0;
    min-width: 190px;
    justify-content: center;
    z-index: 1;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* General Styles */

body {
    font-family: 'Cinzel', 'Times New Roman', Times, serif;
    color: #c0952aff;
    background-color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}
.left {
    justify-self: start;
}

h1 {
    font-weight: bold
}

@media screen and (min-width: 640px) {
    nav ul {
        display: block;
        position: inherit;
        top: inherit;
        right: inherit;
        min-width: inherit;
        justify-content: center;
    }
    nav .burger {
        display: none;
    }
  }