core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
templates/account
templates/allauth
templates/mfa
templates/openid
templates/socialaccount
templates/tests
templates/usersessions