@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General Styles */
body {
    margin: 0;
    font-family: 'Cinzel', 'Times New Roman', Times, serif;
    font-size: 17px;
    color: #c0952aff;
    background-color: black;
}

a {
    color: inherit;
    text-decoration: underline;
}

nav a {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}
.left {
    justify-self: start;
}

/* nav style */
nav {
    background-color: black;
    display:flex;
    height: 60px;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    font-size: 30px;
    padding-inline: 10px;
}

.mobile-nav {
    display: flex;
}

nav .username {
    font-size: 15px;
    align-self: center;
    max-width: 136px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav img {
    height: 40px;
}

nav .burger{
    display: flex;
    align-items: center;
}

nav .mobile-nav {
    position: absolute;
    top: 60px;
    right: 0;
    min-width: 190px;
    justify-content: center;
    z-index: 1;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: black;
    padding: 10px 0;
    border-bottom-left-radius: 5px;
}

.messages {
    background-color: #000000dd;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    list-style: none;
}

@media screen and (min-width: 820px) {
    nav .mobile-nav {
        display: flex;
        position: inherit;
        top: inherit;
        right: inherit;
        min-width: inherit;
        justify-content: center;
        background-color: transparent;
        padding: 0;
        border-bottom-left-radius: 0;
    }
    .mobile-nav a {
        padding-inline: 5px;
    }
    nav .burger {
        display: none;
    }
  }

@media screen and (min-width: 1080px) {
    nav {
        font-size: 40px;
    }
  }